@font-face {
  font-family: 'sanfran';
  src: url('/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: auto;
  font-family: "sanfran";
  background-color: rgb(92, 79, 64);
  color: orange;
  max-width: 700px;
}

.navibar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navibaroptions {
  display: flex;
  font-weight: 1000;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.postcontainer {
  background-color: rgba(0, 0, 0, 0.126);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.postcontainer h2{
  font-size: xx-large;
  margin-top: 30px;
}

.ratingarea{
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating{
  display: flex;
  text-align: center;
  margin: 5px;
}

.ratingnum{
  font-size: large;
}

.photos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderthing{
  width: 70vw;
}

img {
  height: calc(50vh - 0px);
  width: auto;
  margin: 0 auto;
}

.badges{
  display: flex;
}

.badge1{
  margin: 2px;
  text-align: center;
  border-radius: 10px;
  font-size: small;
  padding: 10px;
  background-color: rgb(175, 175, 175);
  color: black;
  width: 100px;
}

.badge2{
  margin: 2px;
  text-align: center;
  border-radius: 10px;
  font-size: small;
  padding: 10px;
  background-color: rgb(210, 88, 7);
  color: black;
  width: 100px;
}

.blog-post{
  margin-top: 20px;
  border: solid rgba(215, 0, 0, 0) 10px;
  border-radius: 50px;
}

.ratingBox{
  display: flex;
  justify-content: center;
  width: 300px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.212);
  color: rgb(215, 215, 215);
  font-weight: bold;
  padding: 5px;
  font-size: small;
}

.bolder{
  font-weight: 10000px;
}

.cooleffect{
  transition: 1s;
}

.cooleffect:hover{
  transition: 0.3s;
}

.button.two {
  border-radius: 10px;
  margin: 2px;
  width: 100px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.button.two::before {
  content: "";
  position: absolute;
  top: 0;
  left: -200%;
  width: 100%;
  height: 100%;
  background: rgb(255, 106, 0);
  transform: skewX(-45deg);
  transition: left 0.5s;
}

.button.two:hover::before {
  left: 115%;
}