@font-face {
  font-family: 'sanfran';
  src: url('/public/SF-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 30px;
  font-family: "sanfran";
  background-color: rgb(92, 79, 64);
  color: orange;
}

.navibar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navibaroptions {
  display: flex;
  font-weight: 1000;
  align-items: center;
  justify-content: space-around;
  width: 100px;
}

.postcontainer {
  background-color: rgba(0, 0, 0, 0.126);
  padding: 20px;
  border-radius: 20px;


}

.postcontainer h2{
  font-size: xx-large;
  margin-top: 30px;
}

.photos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliderthing{
  width: 70vw;
}

img {
  height: calc(50vh - 0px);
  width: auto;
  margin: 0 auto;
}

.badges{
  display: flex;
}

.badge1{
  margin: 2px;
  text-align: center;
  border-radius: 10px;
  font-size: small;
  padding: 10px;
  background-color: rgb(175, 175, 175);
  color: black;
  width: 100px;
}

.badge2{
  margin: 2px;
  text-align: center;
  border-radius: 10px;
  font-size: small;
  padding: 10px;
  background-color: rgb(210, 88, 7);
  color: black;
  width: 100px;
}

.blog-post{
  margin-top: 20px;
  border: solid rgba(215, 0, 0, 0) 10px;
  border-radius: 50px;
}

.ratingBox{
  display: flex;
  width: 30vw;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.212);
  color: rgb(215, 215, 215);
  font-weight: bold;
  padding: 5px;
  font-size: small;
}

.bolder{
  font-weight: 10000px;
}

/* Two */
.button.two {
  border-radius: 10px 10px 10px 10px;
  margin: 2px;
  width: 100px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: -120px -120px, 0 0;
  
  background-image: -webkit-linear-gradient(
    top left,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: -moz-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );    
  background-image: -o-linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  background-image: linear-gradient(
    0 0,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 37%,
    rgba(255, 255, 255, 0.8) 45%,
    rgba(255, 255, 255, 0.0) 50%
  );
  
  -moz-background-size: 250% 250%, 100% 100%;
       background-size: 250% 250%, 100% 100%;
  
  -webkit-transition: background-position 0s ease;
     -moz-transition: background-position 0s ease;       
       -o-transition: background-position 0s ease;
          transition: background-position 0s ease;
}

.button.two:hover {
  background-position: 0 0, 0 0;
  
  -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
          transition-duration: 0.5s;
}